<div style="overflow-x: auto; border: 1px solid var(--border-color); border-radius: 4px; margin: 20px 0;">
    <table class="table-style">
        <thead style="background-color: var(--bg-panel); border-bottom: 1px solid var(--border-color);">
            <tr>
                <th style="padding: 10px;">stat_date</th>
                <th style="padding: 10px;">avg_depth</th>
                <th style="padding: 10px;">sum_mag.</th>
                <th style="padding: 10px;">max_mag.</th>
                <th style="padding: 10px;">event_count</th>
                <th style="padding: 10px;">b_value</th>
                <th style="padding: 10px;">benioff_strain</th>
            </tr>
        </thead>
        <tbody>
            <tr style="border-bottom: 1px solid rgba(47, 54, 74, 0.5);">
                <td style="padding: 8px 10px;">2013.05.24</td>
                <td style="padding: 8px 10px;">72.119</td>
                <td style="padding: 8px 10px;">2250.2</td>
                <td style="padding: 8px 10px;">7.3</td>
                <td style="padding: 8px 10px;">944</td>
                <td style="padding: 8px 10px;">0.920</td>
                <td style="padding: 8px 10px;">183447648.383</td>
            </tr>
            <tr style="border-bottom: 1px solid rgba(47, 54, 74, 0.5);">
                <td style="padding: 8px 10px;">2012.04.11</td>
                <td style="padding: 8px 10px;">24.559</td>
                <td style="padding: 8px 10px;">3569.8</td>
                <td style="padding: 8px 10px;">7.2</td>
                <td style="padding: 8px 10px;">1287</td>
                <td style="padding: 8px 10px;">0.908</td>
                <td style="padding: 8px 10px;">356511878.789</td>
            </tr>
            <tr style="border-bottom: 1px solid rgba(47, 54, 74, 0.5);">
                <td style="padding: 8px 10px;">2012.12.07</td>
                <td style="padding: 8px 10px;">32.417</td>
                <td style="padding: 8px 10px;">2742.7</td>
                <td style="padding: 8px 10px;">7.2</td>
                <td style="padding: 8px 10px;">1019</td>
                <td style="padding: 8px 10px;">0.900</td>
                <td style="padding: 8px 10px;">225990185.043</td>
            </tr>
            <tr style="border-bottom: 1px solid rgba(47, 54, 74, 0.5);">
                <td style="padding: 8px 10px;">2011.03.11</td>
                <td style="padding: 8px 10px;">23.478</td>
                <td style="padding: 8px 10px;">8457.3</td>
                <td style="padding: 8px 10px;">7.1</td>
                <td style="padding: 8px 10px;">2557</td>
                <td style="padding: 8px 10px;">0.601</td>
                <td style="padding: 8px 10px;">1735703313.041</td>
            </tr>
            <tr style="border-bottom: 1px solid rgba(47, 54, 74, 0.5);">
                <td style="padding: 8px 10px;">2012.08.31</td>
                <td style="padding: 8px 10px;">28.988</td>
                <td style="padding: 8px 10px;">2698.2</td>
                <td style="padding: 8px 10px;">7.1</td>
                <td style="padding: 8px 10px;">1075</td>
                <td style="padding: 8px 10px;">0.950</td>
                <td style="padding: 8px 10px;">170081256.829</td>
            </tr>
            <tr style="border-bottom: 1px solid rgba(47, 54, 74, 0.5);">
                <td style="padding: 8px 10px;">2011.07.06</td>
                <td style="padding: 8px 10px;">28.024</td>
                <td style="padding: 8px 10px;">2836.1</td>
                <td style="padding: 8px 10px;">7.0</td>
                <td style="padding: 8px 10px;">1183</td>
                <td style="padding: 8px 10px;">1.137</td>
                <td style="padding: 8px 10px;">131111901.637</td>
            </tr>
            <tr style="border-bottom: 1px solid rgba(47, 54, 74, 0.5);">
                <td style="padding: 8px 10px;">2013.04.16</td>
                <td style="padding: 8px 10px;">31.660</td>
                <td style="padding: 8px 10px;">1962.1</td>
                <td style="padding: 8px 10px;">7.0</td>
                <td style="padding: 8px 10px;">886</td>
                <td style="padding: 8px 10px;">0.847</td>
                <td style="padding: 8px 10px;">98442822.572</td>
            </tr>
            <tr style="border-bottom: 1px solid rgba(47, 54, 74, 0.5);">
                <td style="padding: 8px 10px;">2013.04.19</td>
                <td style="padding: 8px 10px;">30.459</td>
                <td style="padding: 8px 10px;">2038.0</td>
                <td style="padding: 8px 10px;">7.0</td>
                <td style="padding: 8px 10px;">922</td>
                <td style="padding: 8px 10px;">0.927</td>
                <td style="padding: 8px 10px;">100265691.084</td>
            </tr>
            <tr style="border-bottom: 1px solid rgba(47, 54, 74, 0.5);">
                <td style="padding: 8px 10px;">2011.06.24</td>
                <td style="padding: 8px 10px;">25.082</td>
                <td style="padding: 8px 10px;">2445.1</td>
                <td style="padding: 8px 10px;">6.9</td>
                <td style="padding: 8px 10px;">1039</td>
                <td style="padding: 8px 10px;">0.879</td>
                <td style="padding: 8px 10px;">100981400.241</td>
            </tr>
            <tr style="border-bottom: 1px solid rgba(47, 54, 74, 0.5);">
                <td style="padding: 8px 10px;">2011.01.18</td>
                <td style="padding: 8px 10px;">30.221</td>
                <td style="padding: 8px 10px;">1968.9</td>
                <td style="padding: 8px 10px;">6.8</td>
                <td style="padding: 8px 10px;">808</td>
                <td style="padding: 8px 10px;">1.110</td>
                <td style="padding: 8px 10px;">90833762.045</td>
            </tr>
        </tbody>
    </table>
</div>