<br>
<h3 style="border-bottom: 1px solid var(--border-color); padding-bottom: 5px;">Weight Coefficients (Primary Calibration)</h3>
<p style="text-align: center; color: var(--text-main);">
    Historical data (2011 - 2026) Max. = 1.0; $M \ge 6.9$<br>
    <a href="https://github.com/Vitaliy-MV/GMRA-System/blob/fd9aa31a9f1f77eeee8fc90c337e4b078916b7f6/MathCalculationService.java" style="font-size: 0.9rem;">View <code>MathCalculationService.java</code> on GitHub</a>
</p>
<div style="overflow-x: auto;">
    <table class="table-style" style="margin: 0 auto; max-width: 600px;">
        <thead>
            <tr>
                <th>Trigger / Parameter</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Aphelion / Perihelion Proximity</td>
                <td>0.3761</td>
            </tr>
            <tr>
                <td>Equinox Proximity</td>
                <td>0.2201</td>
            </tr>
            <tr>
                <td>Moon Orbital Phase Shift</td>
                <td>0.1467</td>
            </tr>
            <tr>
                <td>Moon Acceleration Extremum</td>
                <td>0.2477</td>
            </tr>
            <tr>
                <td>Moon Speed Extremum</td>
                <td>0.7431</td>
            </tr>
            <tr>
                <td>Pearson: Mag vs Depth</td>
                <td>0.6789</td>
            </tr>
            <tr>
                <td>Spearman: Mag vs Depth</td>
                <td>0.5596</td>
            </tr>
            <tr>
                <td>Depth Anomaly (Surface Strike)</td>
                <td>0.4220</td>
            </tr>
            <tr>
                <td>b-value Anomaly</td>
                <td>0.5872</td>
            </tr>
            <tr>
                <td>ETAS Swarm / Event Acceleration</td>
                <td>0.5963</td>
            </tr>
            <tr>
                <td>Benioff's Active Energy Accel.</td>
                <td>0.0275</td>
            </tr>
            <tr>
                <td>Benioff's Sharp Energy Drop (Quiescence)</td>
                <td>0.3211</td>
            </tr>
            <tr>
            <td><div style="text-align: center; margin-top: 20px; margin-bottom: 30px;">
    			<a href="/" class="btn-live-map" style="text-decoration: none; color: #ffffff;">
    				View Live Map</a>
    		</div></td>
            </tr>
        </tbody>
    </table>
</div>