<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>System error</title>
    <style>
        body { background-color: #0b111e; color: #a9b5c9; font-family: sans-serif; padding: 50px; text-align: center; }
        h1 { color: #ff4757; }
        a { color: #1e90ff; text-decoration: none; }
    </style>
</head>
<body>
    <h1>An error occurred!</h1>
    <p>Incorrect URL or server problem</p>
    <br>
    <a href="/">Return to the main page</a>
</body>
</html>